<h2 mat-dialog-title>{{ dialogData.isCreate ? 'Add New Book' : dialogData.book?.title }}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup" class="book-form flex flex-col gap-2 pt-1">
    <mat-form-field class="ng-invalid">
      <mat-label>Book title *</mat-label>
      <input formControlName="title" matInput placeholder="Book title" required>

      <mat-error>
        <app-control-errors [control]="formGroup.controls['title']" />
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Book Author *</mat-label>
      <input formControlName="author" matInput placeholder="Book Author">

      <mat-error>
        <app-control-errors [control]="formGroup.controls['author']" />
      </mat-error>
    </mat-form-field>

    <app-year-picker formControlName="year" />

    <mat-form-field>
      <mat-label>Book notes</mat-label>
      <textarea formControlName="notes" matInput placeholder="Book notes"></textarea>

      <mat-error>
        <app-control-errors [control]="formGroup.controls['notes']" />
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  @if (!dialogData.isCreate) {
    <button
      (click)="deleteBook()"
      mat-button
    >
      Delete book
    </button>
  }
  <button
    (click)="dialogData.isCreate ? addBook() : editBook()"
    mat-button
  >{{ dialogData.isCreate ? 'Add Book' : 'Edit Book' }}
  </button>
  <button cdkFocusInitial mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
